@{
    ViewBag.Title = "About Us";
}

<h2>About</h2>
<p>
     Incident reporting System Version 1.0 Build: Demo <br />
     Last updated: 07-Sep-2012 09:00 AM
     <br /><br />
     Customer Service:
     <br /><br />
     Help desk numbers: 1-800-XXX-XXXX
     

</p>
