@{
    ViewBag.Title = "Home Page";
}

<h2>Incident Reporting System </h2>
<p>
    Click on any of the modules below<br /><br />

    <a href="/user/IncidentList"> Incident Module </a> -> To log new incident or edit incidents <br /><br />
    <a href="/user/ReportList"> Reports Module </a>-> To view or print reports<br /><br />
   <a href="/user/Admin">  Administration </a> -> To add or edit facility info, to add or edit new users<br /><br />
    <a href="/Home/About"> About </a>-> To find the product version and help desk information<br /><br />
</p>
