@{
    ViewBag.Title = "Admin";
}

<h2>Admin</h2>

<h2>Admin Functions</h2>
<nav>
  <ul>
    <li id="Id1"><a href="ListFacility">Facility Maintenance</a></li>
    <li id="Id1"><a href="/account/register">User Registrtaion</a></li>
  </ul>
</nav