@{
    ViewBag.Title = "AdminFunctions";
}

<h2>Admin Functions</h2>
<nav>
  <ul>
    <li id="Id1"><a href="Facility">Incident Details</a> </li>
    <li id="Id2"><a href="User">Incident Summary</a> </li>
  </ul>
</nav>



