@{
    ViewBag.Title = "History";
}

<h2>History for Incident #:107888 </h2>

<table style="width: auto;">
        <tr>
            <td bgcolor="#33CCFF">
                <b>Modified Date & Time
            </b>
            </td>
            <td bgcolor="#33CCFF">
                <b>Modified by </b>
            </td>
            <td bgcolor="#33CCFF">
                <strong>Action</strong></td>
            <td bgcolor="#33CCFF">
                <b>Field Name
            </b>
            </td>
            <td bgcolor="#33CCFF">
                <b>Old value
            </b>
            </td>
            <td bgcolor="#33CCFF">
                <b>New value
            </b>
            </td>
        </tr>
        <tr>
            <td>
                05/01/2011 10:00 AM
            </td>
            <td>
                Glenn
            </td>
            <td>
                Edit</td>
            <td>
                Incident Type
            </td>
            <td>
                &nbsp;</td>
            <td>
                Fall</td>
        </tr>
        <tr>
            <td>
                02/01/2011 10:00 AM
            </td>
            <td>
                Glenn
             </td>
            <td>
                Edit</td>
            <td>
                Location</td>
            <td>
                Bathroom
            </td>
            <td>
                Lobby
            </td>
        </tr>
        <tr>
            <td>
               02/01/2011 10:00 AM
            </td>
            <td>
                Glenn
             </td>
            <td>
                Edit</td>
            <td>
                Category</td>
            <td>
                &nbsp;</td>
            <td>
                Visitor Incident</td>
        </tr>
        <tr>
            <td>
                01/01/2011 11:00 AM 
            </td>
            <td>
                Jon</td>
            <td>
                Submitted</td>
            <td>
                &nbsp;</td>
            <td>
                &nbsp;</td>
            <td>
                &nbsp;</td>
        </tr>
        <tr>
            <td>
                01/01/2011 10:00 AM 
            </td>
            <td>
                Jon</td>
            <td>
                Created</td>
            <td>
                &nbsp;</td>
            <td>
                &nbsp;</td>
            <td>
                &nbsp;</td>
        </tr>
    </table>