@{
    ViewBag.Title = "Incident List";
}

        <p>
        <a href="NewIncident">Create New Incident</a>&nbsp;&nbsp;&nbsp;
            <a href="searchincident">Search Incidents</a></p>


    <table style="border-style: none; width: auto;">
        <tr>
            <td bgcolor="#00CCFF" class="style1">
                Incident Number</td>
            <td bgcolor="#00CCFF" class="style6">
                Incident Date</td>
            <td bgcolor="#00CCFF" class="style3">
                Incident Type</td>
            <td bgcolor="#00CCFF" class="style4">
                Incident Category</td>
            <td bgcolor="#00CCFF" class="style5">
                Submitted by</td>
            <td bgcolor="#00CCFF" class="style7">
                Status</td>
            <td bgcolor="#00CCFF" class="style8" 
                style="border-style: none; padding-right: 0px;">
                &nbsp;</td>
            <td bgcolor="#00CCFF" class="style8" style="border-style: none">
                &nbsp;</td>
            <td bgcolor="#00CCFF" class="style8" style="border-style: none">
                &nbsp;</td>
            <td bgcolor="#00CCFF" class="style8">
                &nbsp;</td>
        </tr>
        <tr>
            <td class="style1">
                107888</td>
            <td class="style6">
                12/01/2011 10:00 AM</td>
            <td class="style3">
                Patient Incident</td>
            <td class="style4">
                Medication Related - Other</td>
            <td class="style5">
                Andrews Lee</td>
            <td class="style7">
                Open</td>
            <td class="style8" style="border-style: none">
                <a href="IncidentDetail">Edit</a></td>
            <td class="style8" style="border-style: none">
                <a href="ViewIncident">View</a></td>
            <td class="style8" style="border-style: none">
                <a href="History">History</a></td>
            <td class="style8" style="border-style: none">
                <a href="CloseIncident">Close</a></td>
        </tr>
        <tr>
            <td class="style1">
                107989</td>
            <td class="style6">
                01/01/2011 11:00 AM</td>
            <td class="style3">
                Patient Incident</td>
            <td class="style4">
                Post surgical infection - Fever post discharge</td>
            <td class="style5">
                Mary Clark</td>
            <td class="style7">
                Open</td>
            <td class="style8" style="border-style: none">
                <a href="IncidentDetail">Edit</a></td>
            <td class="style8" style="border-style: none">
                <a href="ViewIncident">View</a></td>
            <td class="style8" style="border-style: none">
                <a href="History">History</a></td>
            <td class="style8" style="border-style: none">
                <a href="CloseIncident">Close</a></td>
        </tr>
        <tr>
            <td class="style1">
                989878</td>
            <td class="style6">
                12/04/2011 01:00 PM</td>
            <td class="style3">
                 </td>
            <td class="style4">
                </td>
            <td class="style5">
                Jon Davis</td>
            <td class="style7">
                New</td>
            <td class="style8" style="border-style: none">
                <a href="IncidentDetail">Edit</a></td>
            <td class="style8" style="border-style: none">
                <a href="ViewIncident">View</a></td>
            <td class="style8" style="border-style: none">
                <a href="History">History</a></td>
            <td class="style8" style="border-style: none">
                <a href="CloseIncident">Close</a></td>
        </tr>

    </table>
