@{
    ViewBag.Title = "IncidentDetailRep";
    
}

<h2>Incident Detail Report</h2>
@using (Html.BeginForm("RunReport", "User", FormMethod.Post, new { id = "searchForm" }))
{
    <table style="width: auto; border-collapse: collapse;" border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td class="style6">
                Facility</td>
            <td class="style2">
                <select id="Select1" name="D1">
                    <option> ABC Center@Atlanta </option>
                    <option> XYZ Center@Louisville </option>
                   
                </select></td>
            <td align="left" class="style5">
            </td>
            <td class="style4">
                </td>
        </tr>
        <tr>
            <td class="style6">
                Date Range : From Date</td>
            <td class="style2">
                <input class="date" id="Text1" type="text" /></td>
            <td align="left" class="style5">
                To Date</td>
            <td class="style4">
                <input id="Text2" type="text" /></td>
        </tr>
        <tr>
            <td class="style6">
                Incident Category</td>
            <td class="style2">
                <select id="Select2" name="D2" onchange="srcChange(this.value)">
                 <option>---select category---</option>
                <option>Patient Incident</option>
                <option>Employee Incident</option>
                <option>Physician Incident</option>
                <option>Visitor Incident</option>
                <option>Customer Service Incident</option>

                </select></td>
            <td align="left" class="style5">
                Incident Type</td>
            <td class="style4">
            <select id="slc_target" name="D1">
            <option>-----------</option>
            </select></td>
        </tr>
        <tr>
            <td class="style6">
                Incident Status</td>
            <td class="style2">
                <select id="Select6" name="D6">
                 <option>New</option>
                <option>Open</option>
                <option>Submitted</option>
                <option>In-progress</option>
                <option>Closed</option>
               </select></td>
            <td align="left" class="style5">
                </td>
            <td class="style4">
                </td>
        </tr>
        <tr>
            <td class="style6">
                Sort By</td>
            <td class="style2">
                <select id="Select4" name="D4">
                 <option>Incident Date</option>
                <option>Incident Category</option>
                <option>Status</option>
                </select></td>
            <td align="left" class="style5">
                Group By</td>
            <td class="style4">
                <select id="Select5" name="D5">
                 <option>Incident Date</option>
                <option>Incident Category</option>
                <option>Status</option>
                </select></td>
        </tr>
        <tr>
            <td class="style6">
                                <input id="Button1" type="submit" value="Run Report" /></td>
            <td class="style2">
                </td>
            <td align="left" class="style5">
                </td>
            <td class="style4">
                </td>
        </tr>
    </table>
}