@{
    ViewBag.Title = "ListFacility";
}

<h2>Facility List</h2>

        <p>
        <a href="NewFacility">Create New Facility</a></p>


    <table style="border-style: none; width: auto;">
        <tr>
            <td bgcolor="#00CCFF" class="style1">
                Facility Number</td>
            <td bgcolor="#00CCFF" class="style6">
                Name</td>
            <td bgcolor="#00CCFF" class="style3">
                City</td>
            <td bgcolor="#00CCFF" class="style4">
                State</td>
            <td bgcolor="#00CCFF" class="style5">
                &nbsp;</td>
            <td bgcolor="#00CCFF" class="style7">
                &nbsp;</td>
            <td bgcolor="#00CCFF" class="style8" 
                style="border-style: none; padding-right: 0px;">
                &nbsp;</td>
            <td bgcolor="#00CCFF" class="style8" style="border-style: none">
                &nbsp;</td>
        </tr>
        <tr>
            <td class="style1">
                12731</td>
            <td class="style6">
                Florida Specialized Surgery</td>
            <td class="style3">
                Ft. Myers</td>
            <td class="style4">
                FL</td>
            <td class="style8" style="border-style: none">
                <a href="FacilityAdmin">Edit</a></td>
            <td class="style8" style="border-style: none">
                <a href="ViewFacility">View</a></td>
        </tr>
        <tr>
            <td class="style1">
                12732</td>
            <td class="style6">
                Altanta Surgical Center</td>
            <td class="style3">
                Atlanta</td>
            <td class="style4">
                GA</td>
            <td class="style8" style="border-style: none">
                <a href="FacilityAdmin">Edit</a></td>
            <td class="style8" style="border-style: none">
                <a href="ViewFacility">View</a></td>
        </tr>
        <tr>
            <td class="style1">
                12733</td>
            <td class="style6">
                Advanced Surgical Center</td>
            <td class="style3">
                Dayton</td>
            <td class="style4">
                OH</td>
            <td class="style8" style="border-style: none">
                <a href="FacilityAdmin">Edit</a></td>
            <td class="style8" style="border-style: none">
                <a href="ViewFacility">View</a></td>
        </tr>

    </table>