@{
    ViewBag.Title = "Report1";
}

<h2>Reports List</h2>

<nav>
  <ul>
    <li id="Id1"><a href="IncidentDetailRep">Incident Details</a></li>
    <li id="Id2"><a href="IncidentSummaryRep">Incident Summary</a></li>
    <li id="Id3"><a href="PeerReviewRep">Peer Review</a></li>
    <li id="Id4"><a href="OutcomeRep">Outcome</a></li>
  </ul>
</nav>