@{
    ViewBag.Title = "RunReport";
}

<h2>Incident Details Report</h2>
    <table style="border-width: thin; padding: inherit; margin: inherit; border-style: solid; width: auto; font-family: Arial, Helvetica, sans-serif; font-size: small; line-height: normal; text-align: left;" 
        border="1" cellpadding="0" cellspacing="0">
        <tr>
            <td class="style7" 
                style="font-size: small; background-color: #33CCFF; font-weight: bold;">
                Incident Number</td>
            <td class="style16" 
                style="font-size: small; background-color: #33CCFF; font-weight: bold;">
                Incident date<br />
&nbsp;&amp; time</td>
            <td class="style17" 
                style="font-size: small; background-color: #33CCFF; font-weight: bold;">
                Reported date<br />
&nbsp;&amp; time</td>
            <td class="style15" 
                style="font-size: small; background-color: #33CCFF; font-weight: bold;">
                Reported<br />
                by</td>
            <td class="style11" 
                style="font-size: small; background-color: #33CCFF; font-weight: bold;">
                Category</td>
            <td class="style10" 
                style="font-size: small; background-color: #33CCFF; font-weight: bold;">
                Type</td>
            <td class="style12" 
                style="font-size: small; background-color: #33CCFF; font-weight: bold;">
                Status</td>
        </tr>
        <tr>
            <td class="style7" 
                style="font-family: Arial, Helvetica, sans-serif; font-size: small">
                107888</td>
            <td class="style16" 
                style="font-family: Arial, Helvetica, sans-serif; font-size: small">
                12/01/2011 10:00 AM</td>
            <td class="style17" 
                style="font-family: Arial, Helvetica, sans-serif; font-size: small">
               12/01/2011 10:00 AM</td>
            <td class="style15" 
                style="font-family: Arial, Helvetica, sans-serif; font-size: small">
                Andrews Lee</td>
            <td class="style11" 
                style="font-family: Arial, Helvetica, sans-serif; font-size: small">
                Patient Incident</td>
            <td class="style10" 
                style="font-family: Arial, Helvetica, sans-serif; font-size: small">
                Medication Related - Other</td>
            <td class="style12" 
                style="font-family: Arial, Helvetica, sans-serif; font-size: small">
                New</td>
        </tr>
        <tr>
            <td class="style7" 
                style="font-family: Arial, Helvetica, sans-serif; font-size: small">
                107889</td>
            <td class="style16" 
                style="font-family: Arial, Helvetica, sans-serif; font-size: small">
                01/01/2011 11:00 AM</td>
            <td class="style17" 
                style="font-family: Arial, Helvetica, sans-serif; font-size: small">
                01/01/2011 01:00 PM</td>
            <td class="style15" 
                style="font-family: Arial, Helvetica, sans-serif; font-size: small">
                Mary Clark</td>
            <td class="style11" 
                style="font-family: Arial, Helvetica, sans-serif; font-size: small">
                Patient Incident</td>
            <td class="style10" 
                style="font-family: Arial, Helvetica, sans-serif; font-size: small">
                Post surgical infection - Fever post discharge</td>
            <td class="style12" 
                style="font-family: Arial, Helvetica, sans-serif; font-size: small">
                Submitted</td>
        </tr>
        <tr>
            <td class="style7" 
                style="font-family: Arial, Helvetica, sans-serif; font-size: small">
                120111018</td>
            <td class="style16" 
                style="font-family: Arial, Helvetica, sans-serif; font-size: small">
                12/01/2011 02:00 PM</td>
            <td class="style17" 
                style="font-family: Arial, Helvetica, sans-serif; font-size: small">
                12/01/2011 02:30 PM</td>
            <td class="style15" 
                style="font-family: Arial, Helvetica, sans-serif; font-size: small">
                Mark Twain</td>
            <td class="style11" 
                style="font-family: Arial, Helvetica, sans-serif; font-size: small">
                Employee Incident</td>
            <td class="style10" 
                style="font-family: Arial, Helvetica, sans-serif; font-size: small">
                Injury-Needle stick</td>
            <td class="style12" 
                style="font-family: Arial, Helvetica, sans-serif; font-size: small">
                In-progress</td>
        </tr>
        <tr>
            <td class="style7" 
                style="font-family: Arial, Helvetica, sans-serif; font-size: small">
                121511021</td>
            <td class="style16" 
                style="font-family: Arial, Helvetica, sans-serif; font-size: small">
                12/15/2011 12:00 PM</td>
            <td class="style17" 
                style="font-family: Arial, Helvetica, sans-serif; font-size: small">
                12/16/2011 01:00 PM</td>
            <td class="style15" 
                style="font-family: Arial, Helvetica, sans-serif; font-size: small">
                Jeff Archer</td>
            <td class="style11" 
                style="font-family: Arial, Helvetica, sans-serif; font-size: small">
                Visitor</td>
            <td class="style10" 
                style="font-family: Arial, Helvetica, sans-serif; font-size: small">
                Injury-Fall</td>
            <td class="style12" 
                style="font-family: Arial, Helvetica, sans-serif; font-size: small">
                Closed</td>
        </tr>
    </table>