@{
    ViewBag.Title = "SearchResult";
}

<h2>Search Result</h2>
<p> Search Criteria</p>
<p> Date range From : 01/01/2011  To: 10/01/2011 </p>
<p> Total Number records found matching the criteria : 3 </p>
    <table style="border-style: none; width: auto;">
        <tr>
            <td bgcolor="#00CCFF" class="style1">
                Incident Number</td>
            <td bgcolor="#00CCFF" class="style6">
                Submitted Date</td>
            <td bgcolor="#00CCFF" class="style3">
                Incident Type</td>
            <td bgcolor="#00CCFF" class="style4">
                Incident Category</td>
            <td bgcolor="#00CCFF" class="style5">
                Submitted by</td>
            <td bgcolor="#00CCFF" class="style7">
                Status</td>
            <td bgcolor="#00CCFF" class="style8" 
                style="border-style: none; padding-right: 0px;">
                &nbsp;</td>
            <td bgcolor="#00CCFF" class="style8" style="border-style: none">
                &nbsp;</td>
            <td bgcolor="#00CCFF" class="style8" style="border-style: none">
                &nbsp;</td>
            <td bgcolor="#00CCFF" class="style8">
                &nbsp;</td>
        </tr>
        <tr>
            <td class="style1">
                107888</td>
            <td class="style6">
                12/01/2011 10:00 AM</td>
            <td class="style3">
                Surgical</td>
            <td class="style4">
                Infection</td>
            <td class="style5">
                Mark Span</td>
            <td class="style7">
                Open</td>
            <td class="style8" style="border-style: none">
                <a href="IncidentDetail">Edit</a></td>
            <td class="style8" style="border-style: none">
                <a href="View">View</a></td>
            <td class="style8" style="border-style: none">
                <a href="Delete">Delete</a></td>
            <td class="style8" style="border-style: none">
                <a href="Close">Close</a></td>
        </tr>
        <tr>
            <td class="style1">
                107989</td>
            <td class="style6">
                01/01/2021 11:00 AM</td>
            <td class="style3">
                Other</td>
            <td class="style4">
                Infection</td>
            <td class="style5">
                Tim McCraw</td>
            <td class="style7">
                Open</td>
            <td class="style8" style="border-style: none">
                <a href="edit">Edit</a></td>
            <td class="style8" style="border-style: none">
                <a href="View">View</a></td>
            <td class="style8" style="border-style: none">
                <a href="Delete">Delete</a></td>
            <td class="style8" style="border-style: none">
                <a href="Close">Close</a></td>
        </tr>
    </table>
